body,
.wrapper {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url("../img/windows.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2c3e50;
}

.wrapper {
    position: relative;
    flex: 1;
}

.column-left,
.column-right {
    width: 50%;
    height: 100vh;
}

.window {
    position: absolute;
}

.mifoto {
    top: 50px;
    right: 50px;
    width: fit-content;
    height: fit-content;
    z-index: 104;
}

.pfp {
    width: 400px;
}

.info {
    top: 50px;
    left: 50px;
    width: 700px;
}

.info p,
.tabs p {
    font-size: 18px;
}

.intereses {
    top: 150px;
    left: 50px;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.intereses > .window-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.tabs[role="tabpanel"] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.juegos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.juegos .sunken-panel {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.cover {
    width: 150px;
}

.memes {
    z-index: 100;
}

.memesimg {
    width: 200px;
}

.eminem {
    top: 490px;
    left: 1450px; /* Cambiado de right a left */
    z-index: 100;
}

.gabe {
    top: 450px; /* Cambiado de bottom a top */
    left: 1650px; /* Cambiado de right a left */
    z-index: 101;
}

.tux {
    top: 400px; /* Cambiado de bottom a top */
    left: 1350px; /* Cambiado de right a left */
    z-index: 101;
}

.taskbar {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 105;
    height: 30px;
    width: 100%;
    background-color: #bfbfbf;
    border: 1px solid #ffffff;
}

.start {
    height: 29px;
}
